@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
    --foreground-rgb: 29, 31, 30;
    --background-end-rgb: 250, 250, 250;
    --background-start-rgb: 13, 13, 13;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 29, 31, 30;
        --background-end-rgb: 250, 250, 250;
        --background-start-rgb: 13, 13, 13;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: whitesmoke;
    /* background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb)); */
}

.btn-tanda-cast .swiper-prev{
    color: white;
    background: #100d1f;
    border: 1px solid white;
    padding-left: 1rem;  
    padding-right: 1rem;  
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    border-radius: 1rem;
    cursor: pointer;
  }
  .btn-tanda-cast .swiper-next{
    color: #100d1f;
    background: white;
    border: 1px solid #100d1f;
    padding-left: 1rem;  
    padding-right: 1rem; 
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    border-radius: 1rem;
    cursor: pointer;
  }
  #custom-swiperss{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 1rem;
  }

/* FOOTER */

footer{
    background: #100d1f;
    color: white;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    box-shadow: #100d1f;
}

footer a{
    text-decoration: none;
    color: white;
}


@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
